@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --shadow: 0px 10px 5px rgb(5, 99, 47, 0.03);
  --primary-color: #77a382;
  --secondary-color: #c5d7c9;
  --third-color: #ecf3ed;
  --forth-color: #cdd6da;
  --text-color: #121212;
  --text-second: rgba(18, 18, 18, 0.8);
  --text-light: #77a382;
  --bg-color: #fcfffd;
  --btn-color-dark: #05632f;
  --btn-color-light: #77a382;
}

/* end button */
body {
  background: #fcfffd;
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

.theme_shadow {
  box-shadow: var(--shadow);
}

.section-padding {
  padding-top: 8.5em;
  padding-bottom: 8.5em;
}

/* NAV-BAR */
#navbar .nav-item {
  padding-right: 106px;
}
#navbar .active {
  color: var(--btn-color-dark);
  font-weight: 600;
  font-size: 16px;
}

#navbar li a {
  color: var(--text-second);
  font-weight: 600;
  font-size: 16px;
}

#navbar li a:hover {
  color: var(--btn-color-light);
}

#navbar li.active a {
  color: var(--btn-color-dark);
  font-weight: 600;
  font-size: 16px;
}

#nv-bar li a:hover {
  color: #05632f;
}

#nv-bar ul li a {
  position: relative;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #262626;
  font-weight: bold;
}

#nv-bar ul li.active a {
  background: #05632f;
  color: white;
}

/* END-NAVBAR */

/* FOOTER */
#footer .container a:hover {
  color: var(--btn-color-dark);
  font-weight: 600;
}

#footer .iconbox {
  width: 24px;
  height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--c-brand);
  flex: none;
}

#footer .download img {
  height: 45px;
}

#footer .container .ft-mony img {
  height: 60px;
}

#footer .container .ft-bi {
  display: block;
  position: relative;
}

#footer .container .ft-bi .box-1 {
  display: block;
  position: absolute;
  right: 15px;
}

#footer .container .line {
  height: 1px;
  background-color: #77a382;
  width: 100%;
}

#footer .container a {
  text-decoration: none;
  color: var(--text-second);
  font-weight: 500;
  font-size: 15px;
}

#footer .download img {
  margin-bottom: 15px;
}
/* END-FOOTER */

/* BERANDA */
/* sec-beranda */
#beranda .responsive img {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}

#beranda .container h1 {
  margin-bottom: 22px;
}

#beranda .container p {
  margin-bottom: 42px;
}
/* end sec-beranda */

/* sec-fitur */
#fitur h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
}

#fitur .section-title .line {
  width: 50%;
  height: 3px;
  background-color: #77a382;
  margin: 16px auto 50px auto;
  border-radius: 1.5px;
}

#fitur .sec-fitur {
  border-color: #c5d7c9;
  border-style: solid;
  border-width: 2px;
  padding: 50px 35px;
  border-radius: 10px;
}

#fitur .sec-fitur img {
  height: 135px;
  width: auto;
}
/* end sec-fitur */

/* sec-anggota */
#anggota .content {
  position: relative;
}

#anggota .content .sec-fitur {
  position: relative;
  height: 350px;
  z-index: 1;
}

#anggota .section-title .line {
  width: 50%;
  height: 3px;
  background-color: #77a382;
  margin: 16px auto 50px auto;
  border-radius: 1.5px;
}

#anggota .content .sec-fitur .bg-half {
  position: absolute;
  display: block;
  background-color: #ecf3ed;
  height: 65%;
  width: 100%;
  bottom: 0;
  border-radius: 0 0 15px 15px;
  z-index: 2;
}

#anggota .content .sec-fitur img {
  position: absolute;
  /* height: 250px; */
  bottom: 20%;
  left: 5%;
  z-index: 3;
}

#anggota .content .sec-fitur .content-text {
  display: block;
  position: absolute;
  left: 50%;
  max-width: 40%;
  bottom: 20%;
  z-index: 4;
}
/* end sec-anggota */

/* sec-registrasi */

#registrasi #title-reg {
  display: block;
}

#registrasi #title-topup {
  display: none;
}

#mini-slider {
  display: none;
}

#slider {
  position: relative;
  display: block;
}

#slider ul {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: auto;
  transform: translate(-50%, -50%);
  display: flex;
  background: rgba(119, 163, 130, 0.21);
  border-radius: 30px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#slider ul li {
  list-style: none;
  width: 150px;
}

#slider ul li a {
  display: block;
  padding: 15px;
  text-align: center;
  color: aliceblue;
  transition: 0.5s;
  text-decoration: none;
  color: var(--btn-color-dark);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}

#slider ul li a:hover {
  color: white;
  cursor: pointer;
}

#slider ul li.active a {
  color: #fff;
  cursor: pointer;
}

#slider .slide {
  position: absolute;
  width: 150px;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--btn-color-dark);
  z-index: -1;
  transition: 0.5s;
  opacity: 0;
  border-radius: 30px;
}

#slider ul li:nth-child(1).active ~ .slide {
  left: 0;
  opacity: 1;
}

#slider ul li:nth-child(2).active ~ .slide {
  left: 150px;
  opacity: 1;
}

#registrasi .content {
  display: block;
  position: relative;
  height: 688px;
  width: 100%;
}

#registrasi .content .bg-img {
  display: block;
  position: relative;
  width: 587px;
  height: 505px;
  margin: 92px 347px;
  z-index: 1;
}

#registrasi .content .bg-img h1 {
  position: absolute;
  top: 0;
  z-index: 1;
  color: var(--text-color);
  opacity: 50%;
}

#registrasi .content .bg-img img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 100%;
}

#registrasi .content .bg-img p {
  position: absolute;
  bottom: 10px;
  right: 130px;
  z-index: 3;
  max-width: 40%;
  text-align: center;
}
/* end sec-registrasi */

/* carousel-registrasi top up */
#registrasi #slider-reg {
  display: none;
}

#registrasi #slider-topup {
  display: block;
}

/* pertanyaan */
#pertanyaan h2 {
  color: var(--text-light);
  margin-right: 25px;
}

#pertanyaan .container .all-question li {
  margin-top: 15px;
  margin-left: 70px;
}

#pertanyaan .line {
  height: 3px;
  background: rgba(205, 214, 218, 0.25);
  margin-top: 52px;
  margin-bottom: 55px;
}

#answer-1,
#answer-2,
#answer-3,
#answer-4 {
  display: none;
}

#pertanyaan .container .all-question .btn_showhide {
  position: relative;
  display: block;
  width: 48px;
  height: 48px;
  background-color: #f3f5f6;
  border-radius: 24px;
}

#pertanyaan .container .all-question .btn_showhide:hover {
  cursor: pointer;
  border-style: solid;
  border-width: 3px;
  border-color: #77a382;
}

#pertanyaan .container .all-question .btn_showhide #btn-question1,
#pertanyaan .container .all-question .btn_showhide #btn-question2,
#pertanyaan .container .all-question .btn_showhide #btn-question3,
#pertanyaan .container .all-question .btn_showhide #btn-question4 {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #77a382;
  height: 48px;
  width: 48px;
  border-radius: 24px;
}

#pertanyaan .container .all-question .btn_showhide #show-question1,
#pertanyaan .container .all-question .btn_showhide #show-question2,
#pertanyaan .container .all-question .btn_showhide #show-question3,
#pertanyaan .container .all-question .btn_showhide #show-question4 {
  position: absolute;
  z-index: 2;
  display: block;
  color: #282828;
  opacity: 0.8;
}

#pertanyaan .container .all-question .btn_showhide #close-question1,
#pertanyaan .container .all-question .btn_showhide #close-question2,
#pertanyaan .container .all-question .btn_showhide #close-question3,
#pertanyaan .container .all-question .btn_showhide #close-question4 {
  position: absolute;
  z-index: 3;
  display: none;
  color: white;
}

/* end sec-pertanyaan */

/* sec-unduh */
#unduh {
  background-color: var(--third-color);
}

#unduh .unduh-aplikasi {
  background-color: var(--third-color);
  display: block;
}

#unduh .unduh-aplikasi img {
  height: 197px;
}

#unduh .unduh-aplikasi .img-download img {
  height: 56px;
}
/* end sec-unduh */
/* end BERANDA */

/* TENTANG-KAMI */
#hero_aboutus .box {
  display: block;
  position: relative;
  height: 550px;
}

#hero_aboutus .box .inner-box {
  display: block;
  position: absolute;
  background-image: linear-gradient(90.89deg, rgba(119, 163, 130, 0.14) 7.26%, rgba(255, 255, 255, 0) 99.36%);
  height: 500px;
  width: 100%;
  top: 0;
}

#hero_aboutus .box .container {
  display: block;
  position: relative;
  height: 550px;
}

#hero_aboutus .box img {
  position: absolute;
  height: 401px;
  bottom: 0;
  right: 0;
}

/* end tentang-kami */
/* company-profil */
#company-profil .container .row ul li {
  margin-bottom: 25px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.01em;
  list-style-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.53963 15.0278L0.5 11.9881L4.97422 7.51394L0.5 3.03969L3.53963 0L8.01547 4.47588L8.36909 4.82616L11.0535 7.51053L11.0551 7.51209L10.7016 7.86894L8.01722 10.5533L8.0155 10.5516L3.53963 15.0278ZM1.91422 11.9881L3.53963 13.6136L8.01225 9.14094L8.01397 9.14263L9.64259 7.51394L8.01363 5.88494L7.66025 5.53494L3.53963 1.41425L1.91422 3.03969L6.38844 7.51394L1.91422 11.9881Z' fill='%23121212'/%3E%3C/svg%3E");
}

#company-profil .container .row .content {
  display: block;
  padding: 15px 0 15px 0;
}

#company-profil .container .row .content .content-profile {
  display: block;
  max-width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
/* end company-profil */

/* visimisi */
#visimisi .container {
  position: relative;
}

#visimisi .container .title {
  display: block;
  margin-bottom: 82px;
}

#visimisi .container img {
  width: 75%;
  position: absolute;
  width: auto;
  bottom: 0;
  left: 2%;
}

#visimisi .fitur:nth-child(1) {
  display: flex;
  justify-content: end;
  padding-right: 20px;
}

#visimisi .fitur:nth-child(2) {
  display: flex;
  justify-content: start;
  padding-left: 20px;
}

#visimisi .fitur .sec-fitur {
  border-color: #c5d7c9;
  border-style: solid;
  border-width: 2px;
  padding: 50px 35px;
  border-radius: 10px;
  width: 70%;
  padding: 35px;
}
/* end visimisi */
/* END TENTANG-KAMI */

/* FAQ */
/* hero faq */
#faq .box {
  display: block;
  position: relative;
  height: 550px;
}

#faq .box .inner-box {
  display: block;
  position: absolute;
  background-image: linear-gradient(90.89deg, rgba(119, 163, 130, 0.14) 7.26%, rgba(255, 255, 255, 0) 99.36%);
  height: 500px;
  width: 100%;
  top: 0;
}

#faq .box .container {
  display: block;
  position: relative;
  height: 550px;
}

#faq .box img {
  position: absolute;
  height: 401px;
  bottom: 0;
  right: 0;
}
/* end faq */
/* question-content */
#menubar_faq {
  display: none;
}

#sidebar_faq {
  position: relative;
  display: block;
}

#siderbar_faq ul {
  position: absolute;
  display: block;
  width: 150px;
  height: auto;
  transform: translate(-50%, -50%);
  display: flex;
  background: rgba(119, 163, 130, 0.21);
  border-radius: 30px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#sidebar_faq ul li {
  color: #05632f;
  list-style: none;
  width: 150px;
  background-color: #f3f5f4;
  height: auto;
  border-radius: 30px;
}

#sidebar_faq ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 136.02%;
  color: #282828;
}

#sidebar_faq ul li a:hover {
  font-weight: 600;
  color: #05632f;
}

#sidebar_faq ul li:hover {
  border-style: solid;
  border-width: 1px;
  border-color: #05632f;
}

#sidebar_faq ul li.active a {
  color: #fff;
  background-color: #05632f;
  border-radius: 30px;
}

#question {
  display: block;
}

#faq-akun {
  display: block;
}

#faq-keunggulan {
  display: none;
}

#faq-merchant {
  display: none;
}

#faq-keamanan {
  display: none;
}

#question-content .container h1 {
  color: var(--btn-color-dark);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 136.02%;
  margin-bottom: 20px;
}

#question-content .container .content {
  max-width: 70%;
  margin-left: 50px;
}

#question-content .container .content .sub {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 136.02%;
  color: #282828;
}

#question-content .container .content ul {
  color: #282828;
  margin-top: 10px;
  margin-bottom: 20px;
}

#question-content .container .content ul li {
  margin-top: 23px;
  /* margin-bottom: 20px; */
}

#question-content .container .content .line {
  display: block;
  width: 100;
  height: 2px;
  background-color: #eeeeee;
  margin-bottom: 14px;
}

#question-content .container .content ul .icon {
  /* padding: 0.3em 0 1em 15px; */
  list-style-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.53963 15.0278L0.5 11.9881L4.97422 7.51394L0.5 3.03969L3.53963 0L8.01547 4.47588L8.36909 4.82616L11.0535 7.51053L11.0551 7.51209L10.7016 7.86894L8.01722 10.5533L8.0155 10.5516L3.53963 15.0278ZM1.91422 11.9881L3.53963 13.6136L8.01225 9.14094L8.01397 9.14263L9.64259 7.51394L8.01363 5.88494L7.66025 5.53494L3.53963 1.41425L1.91422 3.03969L6.38844 7.51394L1.91422 11.9881Z' fill='%23121212'/%3E%3C/svg%3E");
}

#question-content .container .content h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

#question-content #question .button-faq a {
  padding: 15px 30px;
  border-radius: 30px;
  transition: 1s;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
}
/* end question-content */
/* END FAQ */

/* RESPONSIVE */
@media (max-width: 575.98px) {
  /* ===INDEX.HTML=== */
  #footer .download img {
    margin-right: 15px;
  }

  #footer .download {
    display: flex;
    justify-content: start;
  }

  .section-padding {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
  }

  /* beranda */
  #beranda .container {
    padding-top: 120px;
    padding-bottom: 50px;
  }

  #beranda .container .responsive img {
    max-width: 80%;
    padding-top: 50px;
  }
  /* end beranda */

  /* fitur */
  #fitur .sec-fitur {
    display: block;
    position: relative;
    padding: 20px;
    height: 280px;
  }

  #fitur .pict {
    display: block;
    position: absolute;
    z-index: 1;
    max-width: 35%;
  }

  #fitur .content {
    display: block;
    position: absolute;
    z-index: 2;
    left: 45%;
    max-width: 40%;
  }
  /* end fitur */

  /* anggota */
  #anggota .content .sec-fitur {
    display: block;
    position: relative;
    height: 200px;
    margin: 0;
  }

  #anggota .content .sec-fitur .bg-half {
    background-color: #ecf3ed;
    position: absolute;
    bottom: 0;
    z-index: 1;
  }

  #anggota .content .sec-fitur img {
    display: block;
    position: absolute;
    left: 20px;
    bottom: 25px;
    width: 40%;
    z-index: 2;
  }

  #anggota .content .sec-fitur .content-text {
    display: block;
    position: absolute;
    left: 50%;
    max-width: 45%;
    bottom: 25px;
  }

  #anggota .content .sec-fitur .content-text p {
    margin-bottom: 0;
    margin-top: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    padding-top: 0;
  }

  #anggota .content .sec-fitur .content-text h3 {
    margin-bottom: 0;
    margin-top: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
  }
  /* end anggota */

  /* registrasi */
  #registrasi .container h1 {
    text-align: center;
  }
  #slider {
    display: none;
  }

  #mini-slider {
    display: block;
    margin-top: 25px;
    margin-bottom: 35px;
    text-align: center;
    position: relative;
  }

  #mini-slider ul {
    position: absolute;
    left: 25%;
    padding: 0;
    width: 50%;
    height: auto;
    float: left;
    display: flex;
  }

  #mini-slider ul li {
    display: block;
    width: 50%;
    background-color: #f3f5f4;
    color: #05632f;
    margin-bottom: 15px;
    list-style: none;
  }

  #mini-slider ul li a {
    display: block;
    text-decoration: none;
    font-style: normal;
    padding: 12px 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #282828;
  }

  #mini-slider ul li:nth-child(1) {
    border-radius: 15px 0 0 15px;
  }

  #mini-slider ul li:nth-child(2) {
    border-radius: 0 15px 15px 0;
  }

  #mini-slider ul li.active a {
    color: #fff;
  }

  #mini-slider ul li:nth-child(1).active {
    color: #fff;
    background-color: #05632f;
    border-radius: 15px 0 0 15px;
  }

  #mini-slider ul li:nth-child(2).active {
    color: #fff;
    background-color: #05632f;
    border-radius: 0 15px 15px 0;
  }

  /* slider-reg */
  #slider-reg .carousel-inner,
  #slider-topup .carousel-inner {
    height: 280px;
  }

  #slider-reg .carousel-caption,
  #slider-topup .carousel-caption {
    display: block;
    padding: 0;
    margin-bottom: -40px;
  }

  #slider-reg .carousel-caption h5,
  #slider-topup .carousel-caption h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
  }

  #slider-reg .carousel-indicators,
  #slider-topup .carousel-indicators {
    display: none;
  }
  /* end slider-reg */

  /* slider top-up */

  /* end slider top-up */

  /* end registrasi */

  /* pertanyaan */
  #pertanyaan .container h2 {
    margin-right: 20px;
  }

  #pertanyaan .container h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
  }

  #pertanyaan .container li {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
  }

  /* button_showhide */
  #pertanyaan .container .all-question .btn_showhide {
    position: relative;
    display: block;
    width: 38px;
    height: 38px;
    background-color: #f3f5f6;
    border-radius: 19px;
  }

  #pertanyaan .container .all-question .btn_showhide:hover {
    cursor: pointer;
    border-style: solid;
    border-width: 0px;
    border-color: #77a382;
  }

  #pertanyaan .container .all-question .btn_showhide #btn-question1,
  #pertanyaan .container .all-question .btn_showhide #btn-question2,
  #pertanyaan .container .all-question .btn_showhide #btn-question3,
  #pertanyaan .container .all-question .btn_showhide #btn-question4 {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #77a382;
    height: 38px;
    width: 38px;
    border-radius: 19px;
  }

  #pertanyaan .container .all-question .btn_showhide #show-question1,
  #pertanyaan .container .all-question .btn_showhide #show-question2,
  #pertanyaan .container .all-question .btn_showhide #show-question3,
  #pertanyaan .container .all-question .btn_showhide #show-question4 {
    position: absolute;
    z-index: 2;
    display: block;
    color: #282828;
    opacity: 0.8;
  }

  #pertanyaan .container .all-question .btn_showhide #close-question1,
  #pertanyaan .container .all-question .btn_showhide #close-question2,
  #pertanyaan .container .all-question .btn_showhide #close-question3,
  #pertanyaan .container .all-question .btn_showhide #close-question4 {
    position: absolute;
    z-index: 3;
    display: none;
    color: white;
  }

  #pertanyaan ol {
    display: block;
    padding: 0;
  }
  /* end button_showhide */
  /* end pertanyaan */

  /* unduh */
  #unduh .unduh-aplikasi img {
    max-width: 60%;
    height: auto;
  }

  #unduh .unduh-aplikasi .img-download img {
    height: 40px;
  }

  /* end unduh */

  /* footer */
  #footer .download img {
    display: block;
  }

  #footer .ft-mony {
    display: block;
    padding-top: 0;
  }

  #footer .ft-bi .box-1 {
    display: block;
    position: relative;
    left: 10px;
  }
  #footer .container h6,
  #footer .container .footer-nav,
  #footer .container .sec-profil {
    margin-bottom: 15px;
  }

  /* end footer */
  /* ===end INDEX.HTML=== */

  /* ===TENTANG_KAMI.HTML=== */
  #hero_aboutus .box {
    display: block;
    position: relative;
    height: 350px;
  }

  #hero_aboutus .box .inner-box {
    display: block;
    position: absolute;
    background-image: linear-gradient(90.89deg, rgba(119, 163, 130, 0.14) 7.26%, rgba(255, 255, 255, 0) 99.36%);
    height: 300px;
    width: 100%;
    top: 0;
  }

  #hero_aboutus .box .container {
    display: block;
    position: relative;
    height: 350px;
  }

  #hero_aboutus .box img {
    position: absolute;
    width: 80%;
    height: auto;
    bottom: 15px;
    right: 15px;
  }

  #company-profil .container .row ul li {
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.01em;
    list-style-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.53963 15.0278L0.5 11.9881L4.97422 7.51394L0.5 3.03969L3.53963 0L8.01547 4.47588L8.36909 4.82616L11.0535 7.51053L11.0551 7.51209L10.7016 7.86894L8.01722 10.5533L8.0155 10.5516L3.53963 15.0278ZM1.91422 11.9881L3.53963 13.6136L8.01225 9.14094L8.01397 9.14263L9.64259 7.51394L8.01363 5.88494L7.66025 5.53494L3.53963 1.41425L1.91422 3.03969L6.38844 7.51394L1.91422 11.9881Z' fill='%23121212'/%3E%3C/svg%3E");
  }

  #visimisi .container h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 39px;
  }

  #visimisi .container .row {
    margin-right: 10px;
    margin-left: 35px;
  }

  #visimisi .container .title {
    display: block;
    margin-bottom: 20px;
  }

  #company-profil .container .row .content {
    display: block;
    padding: 15px 0 15px 0;
  }

  #company-profil .container .row .content .content-profile {
    display: block;
    max-width: 100%;
    padding: 50px 15px 50px 15px;
  }

  #visimisi .container img {
    width: 30%;
    position: absolute;
    bottom: 35px;
    left: 1%;
    display: block;
  }

  #visimisi .fitur:nth-child(1) {
    display: flex;
    justify-content: end;
    padding: 0;
  }

  #visimisi .fitur:nth-child(2) {
    display: flex;
    justify-content: end;
    margin: 0;
    padding: 0;
  }

  #visimisi .fitur .sec-fitur {
    /* background-color: #05632f; */
    margin-top: 15px;
    border-color: #c5d7c9;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    width: 85%;
  }

  #visimisi h3 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 136.02%;
  }

  #visimisi small,
  #visimisi li {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 170%;
  }

  /* end visi-misi */
  /* ===END TENTANG_KAMI.HTML=== */

  /* ===FAQ.HTML=== */
  /* hero faq */
  #faq .box {
    display: block;
    position: relative;
    height: 350px;
  }

  #faq .box .inner-box {
    display: block;
    position: absolute;
    background-image: linear-gradient(90.89deg, rgba(119, 163, 130, 0.14) 7.26%, rgba(255, 255, 255, 0) 99.36%);
    height: 350px;
    width: 100%;
    top: 0;
  }

  #faq .box .container {
    display: block;
    position: relative;
    height: 350px;
  }

  #faq .box img {
    position: absolute;
    width: 85%;
    height: auto;
    bottom: -45px;
    right: 0;
  }
  /* end hero-faq */

  #sidebar_faq {
    display: none;
  }

  #menubar_faq {
    display: block;
    padding-top: 120px;
    margin: 0;
    text-align: center;
  }

  #menubar_faq ul {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    float: left;
    display: flex;
  }

  #menubar_faq ul li {
    display: block;
    width: 100%;
    background-color: #f3f5f4;
    color: #05632f;
    margin-bottom: 15px;
    /* border-radius: 30px; */
    list-style: none;
  }

  #menubar_faq ul li:nth-child(1) {
    border-radius: 15px 0 0 15px;
  }

  #menubar_faq ul li:nth-child(4) {
    border-radius: 0 15px 15px 0;
  }

  #menubar_faq ul li a {
    display: block;
    text-decoration: none;
    font-style: normal;
    padding: 15px 10px;
    font-weight: 600;
    font-size: 15px;
    line-height: 136.02%;
    color: #282828;
  }

  #menubar_faq ul li a:hover {
    font-weight: 600;
    color: #05632f;
  }

  #menubar_faq ul li.active a {
    color: #fff;
    background-color: #05632f;
  }

  #menubar_faq ul li:nth-child(1).active a {
    color: #fff;
    background-color: #05632f;
    border-radius: 15px 0 0 15px;
  }

  #menubar_faq ul li:nth-child(4).active a {
    color: #fff;
    background-color: #05632f;
    border-radius: 0 15px 15px 0;
    /* border-radius: 30px; */
  }

  #question-content .container h1 {
    color: var(--btn-color-dark);
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 136.02%;
    margin-left: 5px;
  }

  #question-content .container .content {
    max-width: 100%;
    margin: 0;
  }

  /* END FAQ.HTML */
}
/* end RESPONSIVE-mobile */
